<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>main</title>
  <link rel="stylesheet" href="../css/window.css" />
  <link rel="stylesheet" href="../css/guest.css" />
</head>

<body>
  <main>
    <!-- @ レイアウト目的の場合はdivで区切る-->
    <!-- @ 文書構造の場合は構造化タグで区切る-->
    <div class="window">
        <div class="control-panel">
            <div class="button-list">
            <button id="guest-button" class="menu-button" >Guest</button>
            <button id="table-button" class="menu-button" >Table</button>
            <button id="export-button" class="menu-button" >Export</button>
            </div>
        </div>
        <div id="canvas-panel" class="canvas-panel">
            <canvas id="seating_chart"/>
        </div>
        <div id="property-panel" class="property-panel"></div>
        <div id="guest-panel" class="guest-panel">
          <div id="guest-content-root">
          </div>
        </div>
        <div id="table-panel" class="table-panel"></div>
    </div>
  </main>
  <script src="../script/loader/view-controller-loader.js"></script>
  <script src="../script/loader/guest-content-renderer-loader.js"></script>
</body>

</html>