<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>main</title>
    <link rel="stylesheet" href="../css/default.css" />
</head>

<body>
    <main>
        <div class="window">
            <div class="control-panel">
                <div class="button-list">
                    <input type="button" id="guest-button" class="menu-button" value="Guest"><label for="guest-button"><img id="guest-button-img" class="menu-button-img" src="../image/icon/icon-guest-c.png" alt="Guest"></label>
                    <input type="button" id="table-button" class="menu-button" value="Table"><label for="table-button"><img id="table-button-img" class="menu-button-img" src="../image/icon/icon-table-c.png" alt="Table"></label>
                </div>
            </div>
            <div id="seating-chart-panel" class="seating-chart-panel">
            </div>
            <div id="menu-guest-panel" class="menu-panel">
                <div id="menu-guest" class="menu-guest">
                    <p id="guest-title" class="menu-title">Guests</p>
                    <div id="guest-form" class="guest-form">
                        <input type="text" id="guest-form-name" class="guest-form-name" placeholder="name" required>
                        <input type="number" id="guest-form-age" class="guest-form-age" placeholder="0" min="0" max="99" step="5" required>
                        <input type="button" id="guest-form-add-button" class="guest-form-add-button" value="+">
                    </div>
                    <div id="guest-list" class="guest-list">
                        <table id="guest-list-table" class="guest-list-table">
                        </table>
                    </div>
                </div>
            </div>
            <div id="menu-table-panel" class="menu-panel">
                <div id="menu-table" class="menu-table">
                    <p id="table-title" class="menu-title">Tables</p>
                    <div id="table-layout-form" class="table-layout-form">
                        <input type="number" id="table-layout-h" class="table-layout-property" value="3" min="1" max="4" required>
                        <p id="table-layout-operator" class="table-layout-operator">×</p>
                        <input type="number" id="table-layout-v" class="table-layout-property" value="3" min="1" max="4" required>
                    </div>
                    <div id="table-type-form" class="table-type-form">
                        <input type="radio" id="table-type-radio-round" class="table-type-radio" name="table-type" value="round" checked>
                        <label for="table-type-radio-round"><img id="table-type-radio-img-round" class="table-type-radio-img" src="../image/table/table-round-c-yellow.png" alt="Round"></label>
                        <input type="radio" id="table-type-radio-square" class="table-type-radio" name="table-type" value="square">
                        <label for="table-type-radio-square"><img id="table-type-radio-img-square" class="table-type-radio-img" src="../image/table/table-square-c-yellow.png" alt="Square"></label>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../script/view-controller-loader.js"></script>
</body>

</html>