@charset 'UTF-8';

/*
表示方式

大きさ
配置方式
位置
マージン
色
*/

html {
    /* ブラウザのデフォルト 100% = 1em = 1rem = 16px = 12pt*/
    font-size: 100%;
}

body {
    margin: auto;
}


/* Main Window */

div.window {
    width: 1240px;
    height: 800px;
    /* ブロック要素（改行が入るので標準で縦並び）を横に並べる場合、 display:flexを指定する*/
    display: flex;
}


/* Control Panel */

div.control-panel {
    width: 8%;
    height: 100%;
    position: relative;
    background-color: #daf7da;
    /*background-color: #E2FFC0;オリジナル・pop*/
    /*background-color: #d3eadc;花の中間色*/
    /*background-color: #dfe9d5;背景中間色*/
    /*background-color: #d9ead9;総合中間色*/
    /*background-color: #daf7da;総合中間色の鮮やかさ明るさ上げ（5%）*/
    /*background-color: #d9ded9;総合中間色の鮮やかさ明るさ下げ（5%）*/
    /*background-color: #f3fff3;総合中間色の明度上げ*/
}

div.button-list {
    /* absolute → static以外を指定された親要素を基準とした絶対位置  */
    /* 要素を親を基準にして配置したい（右下など）場合、親をstatic以外（relative）にするのを忘れないこと */
    position: absolute;
    left: 20px;
    bottom: 10px;
}

input.menu-button {
    /* インライン要素（改行が入らないので標準で横並び）を縦に並べる場合、 display:blockを指定する*/
    display: block;
    margin: 0px 0px 10px 0px;
    /* ボタンは画像で表示するのでブラウザの標準パーツフォームを消す */
    -webkit-appearance: none;
    background: none;
    border: 0;
    font-size: 0.0rem;
    outline: none;
}

img.menu-button-img {
    width: 50px;
    height: 50px;
    border-radius: 28px;
}

img#guest-button-img {
    border: 5px solid transparent;
}

img#table-button-img {
    border: 5px solid transparent;
}


/* Canvas Panel */

div.canvas-panel {
    width: 72%;
    height: 100%;
    background-color: #FFFFFF;
}


/* Menu Panel */

div.menu-panel {
    position: relative;
    width: 20%;
    height: 100%;
}


/* Guest Panel */

div#menu-guest-panel {
    display: none;
    background-image: url('../image/background/bg-guest.png');
    background-repeat: repeat-y;
}

p#guest-title {
    font-family: "Sakkal Majalla";
    font-size: 4.0rem;
    color: #004986;
    background: #a7dada;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
}

div.guest-form {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

input.guest-form-name {
    width: 50%;
    color: #004986;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

input.guest-form-name:focus {
    outline: 0;
    border-width: 2px;
    border-color: rgb(255, 200, 100);
    background-color: rgb(255, 230, 200);
}

input.guest-form-name::-webkit-input-placeholder {
    font-family: "Sakkal Majalla", "Hiragino Kaku Gothic ProN";
    font-size: 1.5rem;
    color: #6791b4;
}

input.guest-form-age {
    width: 15%;
    color: #004986;
    border-radius: 15px;
    padding-left: 10px;
}

input.guest-form-age:focus {
    outline: 0;
    border-width: 2px;
    border-color: rgb(255, 200, 100);
    background-color: rgb(255, 230, 200);
}

input.guest-form-age::-webkit-input-placeholder {
    font-family: "Sakkal Majalla", "Hiragino Kaku Gothic ProN";
    font-size: 1.2rem;
    color: #6791b4;
}

input.guest-form-add-button {
    width: 10%;
    color: #004986;
    border-radius: 15px;
}

div.guest-list {
    position: relative;
    display: block;
    top: 20px;
    left: 10px;
    width: 228px;
    /* %ではスクロールが効かない */
    max-height: 610px;
    overflow-y: auto;
}

table.guest-list-table {
    width: 210px;
    max-height: 610px;
    border-spacing: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    /* サイズは固定レイアウト指定して、セルごとに定める */
    /* 固定レイアウト指定しない場合、文字数で幅が可変になったりする */
    table-layout: fixed;
}

table.guest-list-table tr {
    height: 30px;
}


/* アイコンセル */

table.guest-list-table td:nth-child(1) {
    width: 30px;
}


/* アイコン */

img.guest-avatar {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


/* 名前セル */

table.guest-list-table td:nth-child(2) {
    width: 92px;
    font-family: "Sakkal Majalla", "Hiragino Kaku Gothic ProN";
    font-size: 1.2rem;
    color: #a7dada;
    padding-left: 6px;
    background-color: #004986;
    border-radius: 6px;
}


/* 年齢セル */

table.guest-list-table td:nth-child(3) {
    width: 28px;
    font-family: "Sakkal Majalla", "Hiragino Kaku Gothic ProN";
    font-size: 1.2rem;
    color: #004986;
    text-align: center;
    background-color: #a7dada;
    border-radius: 6px;
}


/* 削除ボタンセル */

table.guest-list-table td:nth-child(4) {
    width: 20px;
}


/* 削除ボタン */

input.guest-delete-button {
    display: block;
    width: 20px;
    height: 20px;
    color: #004986;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


/* Table Panel */

div#menu-table-panel {
    display: none;
    background-image: url('../image/background/bg-table.png');
    background-repeat: repeat-y;
}

p#table-title {
    font-family: "Sakkal Majalla";
    font-size: 4.0rem;
    color: #004986;
    background: #fffade;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
}

div.table-layout-form {
    display: inline-block;
    width: 228px;
    padding-left: 10px;
    padding-right: 10px;
}

input.table-layout-property {
    width: 30%;
    text-align: center;
    color: #004986;
    border-radius: 15px;
    padding-left: 10px;
}

input.table-layout-property:focus {
    outline: 0;
    border-width: 2px;
    border-color: rgb(255, 200, 100);
    background-color: rgb(255, 230, 200);
}

p.table-layout-operator {
    display: inline-block;
    width: 15%;
    margin: 0;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    color: #004986;
}

div.table-type-form {
    position: relative;
    display: block;
    top: 20px;
    left: 10px;
    width: 228px;
    /* %ではスクロールが効かない */
    max-height: 610px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

input.table-type-radio {
    display: inline-block;
    margin: auto;
    /* ボタンは画像で表示するのでブラウザの標準パーツフォームを消す */
    -webkit-appearance: none;
}

img.table-type-radio-img {
    display: inline-block;
    margin: 18px;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 6px;
    background-color: #004986;
}

img#table-type-radio-img-round {
    border: 3px inset transparent;
}

img#table-type-radio-img-square {
    border: 3px inset transparent;
}