@charset 'UTF-8';

/*
表示方式

大きさ
配置方式
位置
マージン
色
*/

html {
    /* ブラウザのデフォルト 100% = 1em = 1rem = 16px = 12pt*/
    font-size: 100%;
}

body {
    margin: auto;
}


/* Main Window */

div.window {
    width: 1240px;
    height: 800px;
    /* ブロック要素（改行が入るので標準で縦並び）を横に並べる場合、 display:flexを指定する*/
    display: flex;
}


/* Control Panel */

div.control-panel {
    width: 8%;
    height: 100%;
    position: relative;
    background-color: #E2FFC0;
    /*background-color: #d3eadc;花の中間色*/
    /*background-color: #dfe9d5;背景中間色*/
    /*background-color: #d9ead9;総合中間色*/
    /*background-color: #f3fff3;総合中間色の明度上げ*/
}

div.button-list {
    /* absolute → static以外を指定された親要素を基準とした絶対位置  */
    /* 要素を親を基準にして配置したい（右下など）場合、親をstatic以外（relative）にするのを忘れないこと */
    position: absolute;
    left: 10px;
    bottom: 10px;
}

button.menu-button {
    /* インライン要素（改行が入らないので標準で横並び）を縦に並べる場合、 display:blockを指定する*/
    display: block;
    margin: 0px 0px 10px 0px;
    background: none;
    border: 0;
    font-size: 0.0rem;
    outline: none;
}

img.menu-button-img {
    width: 50px;
    height: 50px;
    border-radius: 28px;
}

img#guest-button-img {
    border: 5px solid transparent;
}

img#table-button-img {
    border: 5px solid transparent;
}


/* Canvas Panel */

div.canvas-panel {
    width: 72%;
    height: 100%;
    background-color: #FFFFFF;
}


/* Menu Panel */

div.menu-panel {
    position: relative;
    width: 20%;
    height: 100%;
}

div#menu-guest-panel {
    display: none;
    background-image: url('../image/bg1.png');
    background-repeat: repeat-y;
}

p#guest-title {
    font-family: "Sakkal Majalla";
    font-size: 4.0rem;
    color: #004986;
    background: #a7dada;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
}

div.guest-form {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

input.guest-form-name {
    width: 50%;
    color: #004986;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

input.guest-form-name::-webkit-input-placeholder {
    font-family: "Sakkal Majalla", "Hiragino Kaku Gothic ProN";
    font-size: 1.5rem;
    color: #6791b4;
}

input.guest-form-age {
    width: 15%;
    color: #004986;
    border-radius: 15px;
    padding-left: 10px;
}

input.guest-form-add-button {
    width: 10%;
    color: #004986;
    border-radius: 15px;
}

div.guest-list {
    position: relative;
    display: block;
    top: 20px;
    left: 10px;
    width: 228px;
    /* %ではスクロールが効かない */
    max-height: 610px;
    overflow-y: auto;
}

table.guest-list-table {
    width: 210px;
    max-height: 610px;
}

table.guest-list-table tr {
    height: 30px;
}


/* アイコン */

table.guest-list-table td:nth-child(1) {
    width: 30px;
    background-color: blue;
}


/* 名前 */

table.guest-list-table td:nth-child(2) {
    width: 120px;
    font-family: "Sakkal Majalla";
    font-size: 1.3rem;
    border-radius: 5px;
}

table.guest-list-table ::after {
    background-color: red;
    box-shadow: inset 0 0 5px #fff/* 背景色と同じ色 */
    , inset 0 0 5px #fff, inset 0 0 5px #fff, inset 0 0 5px #fff;
}


/* 年齢 */

table.guest-list-table td:nth-child(3) {
    width: 30px;
    font-family: "Sakkal Majalla";
    font-size: 1.3rem;
    background-color: pink;
    border-radius: 5px;
}


/* 削除ボタン */

input.guest-delete-button {
    width: 20px;
    height: 20px;
    color: #004986;
    border-radius: 15px;
}

div#menu-table-panel {
    display: none;
    background-image: url('../image/bg2.png');
    background-repeat: repeat-y;
}

div.menu-table {
    position: relative;
}

p#table-title {
    font-family: "Sakkal Majalla";
    font-size: 60px;
    color: #004986;
    background: #fffade;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
}