@charset 'UTF-8'

/*
表示方式

大きさ
配置方式
位置
マージン
色
*/
* {

} 

body {
  margin: auto;
  background-color: #CCCCCC;
}

/* . ：classセレクタ */
div.window {
  width: 1240px;
  height: 800px;
  /* ブロック要素（改行が入るので標準で縦並び）を横に並べる場合、 display:flexを指定する*/
  display: flex;
}

div.control-panel {
  width: 15%;
  height: 100%;
  position:relative;
  background-color: #E2FFC0;
}

div.button-list { 
  /* absolute → static以外を指定された親要素を基準とした絶対位置  */
  /* 要素を親を基準にして配置したい（右下など）場合、親をstatic以外（relative）にするのを忘れないこと */
  position: absolute;
  right: 10px;
  bottom: 10px;
}

button.menu-button {
  /* インライン要素（改行が入らないので標準で横並び）を縦に並べる場合、 display:blockを指定する*/
  display: block;
  margin: 10px;
}

div.canvas-panel {  
  width: 65%;
  height: 100%;
  background-color: #FFFFFF;
}

div.property-panel {
  display: block;
  /*visibility: hidden;*/
  width: 20%;
  height: 100%;
  background-color: #0D3832;
}

div.guest-panel {
  display: none;
  /*visibility: visible;*/
  position:relative;
  width: 20%;
  height: 100%;
  background-color: #AA55AA;
}

div.guest-menu {
  position: absolute;
  left: 10px;
  top: 10px;
}


div.table-panel {
  display: none;
  /*visibility: hidden;*/
  width: 20%;
  height: 100%;
  background-color: #3245AA;
  
}
